/*=================== google fonts ====================*/


/*=================== Variables css ====================*/
:root {
    --header-height: 3.5rem;

/*=========== Colors ===========*/
    --main-color: #663399;

/*=========== Fonts Colors ===========*/

}
/*=========== Variables Darkcolor ===========*/


/*=================== Reset ====================*/
img {
    vertical-align: bottom;
    bottom: none;
    max-width: 100%;
    height: 100%;
}
ul,ol {
    list-style-type: none;
}
li{
    list-style: none;
}
*::before,*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
}
a:active{
    color: black;
}
a:focus{
    outline: none;
}
html{
    font-size: 62.5%;
    line-height: 1.6;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    min-width: 320px;
    background-color: red;
}
/*=========== Base ===========*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
