
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
    a:active{
        color: black;
    }
    a:focus{
        outline: none;
    }
}
html{
    font-size: 62.5%;
    line-height: 1.6;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background:linear-gradient(45deg, #ff9100,#bb00ff,#ff1b1b);/*グラデーションを定義*/
	background-size: 200% 200%;
	animation: bggradient 20s ease infinite;
    &::-webkit-scrollbar {
            display: none;
    }
}