@use "../base/base"as b;
@use "../base/reset"as r;
@use "../mixin/animation"as animation;
@use "../mixin/breakpoint"as break;
@use "../mixin/btn"as btn;
@use "../mixin/font"as f;
@use "../module/footer"as footer;
@use "../module/header"as header;
@use "../setting/function"as function;

.Profile{
    width: 1160px;
    height: 600px;
    background: rgba(255, 255, 255, 0.466);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .Profileconteiner{
        display: flex;
        &__Left{
            width: 50%;
        }
        &__Right{
            width: 50%;
        }
    }
    .Profile__Image--DOUBLALIAMINE{
        width: 20%;
        height: 20%;
    }
}